@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome, stranger!</h1>
    <p class="lead">You're looking at a fun little sandbox where Jordan is testing out his web-dev knowledge. Enjoy!</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Don't click this &laquo; &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Changing things</h2>
        <p>
            This header gives me a nifty placec to brag about silly stuff I'm doing.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Don't click this, either &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Another thing!</h2>
        <p>Here is where I put more stuff. &AElig;&Aacute;&Gamma;</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Or this one &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>A Boring Thing</h2>
        <p style="color:red;font-size:44px">THIS THING IS NOW CHANGED OOOOOOOOOOO SPOOKY</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Nope nope nope &raquo;</a></p>
    </div>
</div>